---
// import img from '../assets/illustration-flowing-conversation.svg';
import img from '../assets/illustration-your-users.svg';
const { data } = Astro.props;
const { imgSrc, imgAlt, title, text } = data;
---

<article>
    <div class="card-image">
        <img src={imgSrc} alt={imgAlt} />
    </div>
    <div class="card-text">
        <h2>{title}</h2>
        <p>
            {text}
        </p>
    </div>
</article>

<style>
    article {
        padding: 3rem 2rem;
        border-radius: 20px;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .card-image {
        padding: 1rem;
        margin-bottom: 2rem;
        max-width: 300px;
        margin-inline: auto;
    }

    h2 {
        font-size: 1.3rem;
        color: var(--very-dark-cyan);
        margin-bottom: 1rem;
    }

    p {
        color: var(--grayish-blue);
    }

    @media (min-width: 768px) {
        article {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            text-align: start;
            gap: 4rem;
        }

        .card-image {
            margin: 0;
            max-width: 100%;
        }
    }

    @media (min-width: 992px) {
        article {
            gap: 8rem;
        }

        .card-text {
            padding-left: 4rem;
        }
    }
</style>
